<div class="product-summary w-full " itemscope="" itemtype="http://schema.org/Product">
  <div class="product-summary__media relative group flex border-2 broder-gray-300 rounded-sm items-center">
    <div class="product-summary__media-link-wrapper ">
      <a class="product-summary__media-link" href="{{ product_card.url | within: collection }}">
        <img data-height="{{ product_card.featured_image.height }}" itemprop="image" class="product-summary__media-image" src="{{ product_card.featured_image.src | image_url: width:600, height: 600}}" alt="{{ product_card.featured_image.alt | default: product_card.title | escape }}">
      </a>
    </div>
    <div class="quickview-button absolute bottom-0 left-0 w-full opacity-0 transition-opacity group-hover:opacity-100">
      <button class="button button--full button--quickview" rel="nofollow" data-modifier="false" href="#">
        Quick View
      </button>
    </div>
  </div>
  <div class="my-3 product-summary__info text-center">
    <p class="product-summary__name mb-2" itemprop="name">
      <a class="hover:text-green-100 tracking-wider text-base font-semibold text-gray-100 " itemprop="url" href="{{ product_card.url | within: collection }}">
        {{ product_card.title }}
      </a>
    </p>
    <div class="flex justify-center items-center">
      {%- assign cv = product_card.selected_or_first_available_variant -%}
      {% if cv.sku != blank %}
        <div class="border-gray-200 border-r-2 mr-4 p-2 pr-4 product-summary__id text-xs" itemprop="productID">
          {{ cv.sku }}
        </div>
      {% endif %}
      <div class="product-prices flex product-prices--summary" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        {%- if cv.compare_at_price > 0 -%}
          <p class="product-prices__price product-prices__price--original mr-2">
            <s>{{ cv.compare_at_price | money }}</s>
          </p>
        {%- endif -%}
        <p class="{% if cv.compare_at_price > 0 %} text-red-50 font-semibold {% endif %} product-prices__price product-prices__price--discounted">
          <span>
            <meta content="USD" itemprop="priceCurrency">
            <meta content="1.5" itemprop="price">
            {{ cv.price | money }}
            <link href="https://schema.org/InStock" itemprop="availability">
          </span>
        </p>
      </div>
    </div>

  </div>
</div>