<div class="product-summary w-full group" itemscope="" itemtype="http://schema.org/Product">
  <div class="product-summary__media relative  flex border-2 broder-gray-300 rounded-sm items-center">
    <div class="product-summary__media-link-wrapper ">
      <a class="product-summary__media-link" href="{{ product_card.url | within: collection }}">
        <img data-height="{{ product_card.featured_image.height }}" itemprop="image" class="product-summary__media-image" src="{{ product_card.featured_image.src | image_url: width:600, height: 600, crop: 'center' }}" alt="{{ product_card.featured_image.alt | default: product_card.title | escape }}">
      </a>
    </div>
    <div class="quickview-button absolute bottom-0 left-0 w-full opacity-0 transition-opacity group-hover:opacity-100">
      <button class="button button--full button--quickview" rel="nofollow" data-modifier="false" href="#">
        Quick View
      </button>
    </div>
  </div>
  <div class="my-3 product-summary__info text-center">
    {% render 'badge', time: product_card.created_at %}
    <p class="product-summary__name mb-2" itemprop="name">
      <a class="hover:text-green-100 tracking-wider text-base font-semibold text-gray-100 " itemprop="url" href="{{ product_card.url | within: collection }}">
        {{ product_card.title }}
      </a>
    </p>



    <div class="flex justify-center items-center">
      {%- assign cv = product_card.selected_or_first_available_variant -%}
      {% if cv.sku != blank %}
        <div class="border-gray-200 border-r-2 mr-4 p-2 pr-4 product-summary__id text-xs" itemprop="productID">
          # {{ cv.sku }}
        </div>
      {% endif %}
      <div class="product-prices font-bn font-bold text-xl flex product-prices--summary" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        {%- if cv.compare_at_price > 0 -%}
          <p class="product-prices__price product-prices__price--original mr-2">
            <s>{{ cv.compare_at_price | money }}</s>
          </p>
        {%- endif -%}
        <p class="{% if cv.compare_at_price > 0 %} text-red-50 font-semibold {% endif %} product-prices__price product-prices__price--discounted">
          <span>
            <meta content="USD" itemprop="priceCurrency">
            <meta content="1.5" itemprop="price">
            {{ cv.price | money }}
            <link href="https://schema.org/InStock" itemprop="availability">
          </span>
        </p>
      </div>
    </div>
    {%- assign mod = index | modulo: 6 -%}
    {% if mod == 1 %}
      <p class="product-summary__video-link">
        <button class="border-none button flex items-center text-green-100 hover:text-black">
          <span class="product-summary__video-link-icon">
            {% render 'icon-play' %}
          </span>
          <span class="product-summary__video-link-text text-xs">Watch this video</span>
        </button>
      </p>
      <div class="trustpilot-widget pt-1" data-businessunit-id="593eff810000ff0005a46e0a" data-locale="en-US" data-no-reviews="hide" data-scroll-to-list="true" data-sku="62227" data-star-color="#6EAE9F" data-style-height="24px" data-style-width="100%" data-template-id="577258fb31f02306e4e3aaf9" data-text-color="#6a747c" data-theme="light" style="position: relative;">
        <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/577258fb31f02306e4e3aaf9/index.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=577258fb31f02306e4e3aaf9#locale=en-US&amp;noReviews=hide&amp;scrollToList=true&amp;sku=62227&amp;starColor=%236EAE9F&amp;styleHeight=24px&amp;styleWidth=100%25&amp;textColor=%236a747c&amp;theme=light" style="position: relative; height: 24px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
        <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/577258fb31f02306e4e3aaf9/popup.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=577258fb31f02306e4e3aaf9#locale=en-US&amp;noReviews=hide&amp;scrollToList=true&amp;sku=62227&amp;starColor=%236EAE9F&amp;styleHeight=24px&amp;styleWidth=100%25&amp;textColor=%236a747c&amp;theme=light" style="position: absolute; z-index: 99; top: 25px; height: 202px; width: 100%; min-width: 120px; border-style: none; display: none; overflow: hidden;"></iframe>
      </div>
    {% endif %}

  </div>
</div>