<div class="w-full product-summary group" itemscope="" itemtype="http://schema.org/Product">
  <div class="relative flex items-center border-2 rounded-sm product-summary__media broder-gray-300">
    <div class="product-summary__media-link-wrapper ">
      <a class="product-summary__media-link" href="{{ product_card.url | within: collection }}">
        <img data-height="{{ product_card.featured_image.height }}" itemprop="image" class="product-summary__media-image" src="{{ product_card.featured_image.src | image_url: width:600, height: 600, crop: 'center' }}" alt="{{ product_card.featured_image.alt | default: product_card.title | escape }}">
      </a>
    </div>
    <div class="absolute bottom-0 left-0 w-full transition-opacity opacity-0 quickview-button group-hover:opacity-100">
      <button class="button button--full button--quickview" rel="nofollow" data-modifier="false" data-url="{{ product_card.url }}">
        Quick View
      </button>
    </div>
  </div>
  <div class="my-3 text-center product-summary__info">
    {% render 'badge', time: product_card.created_at %}
    <p class="mb-2 product-summary__name" itemprop="name">
      <a class="text-base font-semibold tracking-wider text-gray-100 hover:text-green-100 " itemprop="url" href="{{ product_card.url | within: collection }}">
        {{ product_card.title }}
      </a>
    </p>



    <div class="flex items-center justify-center">
      {%- assign cv = product_card.selected_or_first_available_variant -%}
      {% if cv.sku != blank %}
        <div class="p-2 pr-4 mr-4 text-xs border-r-2 border-gray-200 product-summary__id" itemprop="productID">
          # {{ cv.sku }}
        </div>
      {% endif %}
      {% render 'price' cv: cv %}
    </div>
    {%- assign mod = index | modulo: 6 -%}
    {% if mod == 1 %}
      <p class="product-summary__video-link">
        <button class="flex items-center text-green-100 border-none button hover:text-black">
          <span class="product-summary__video-link-icon">
            {% render 'icon-play' %}
          </span>
          <span class="text-xs product-summary__video-link-text js-video-button" data-video-id="731044217" data-channel="vimeo">Watch this video</span>
        </button>
      </p>
      {% if review %}
        <div class="pt-1 trustpilot-widget" data-businessunit-id="593eff810000ff0005a46e0a" data-locale="en-US" data-no-reviews="hide" data-scroll-to-list="true" data-sku="62227" data-star-color="#6EAE9F" data-style-height="24px" data-style-width="100%" data-template-id="577258fb31f02306e4e3aaf9" data-text-color="#6a747c" data-theme="light" style="position: relative;">
          <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/577258fb31f02306e4e3aaf9/index.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=577258fb31f02306e4e3aaf9#locale=en-US&amp;noReviews=hide&amp;scrollToList=true&amp;sku=62227&amp;starColor=%236EAE9F&amp;styleHeight=24px&amp;styleWidth=100%25&amp;textColor=%236a747c&amp;theme=light" style="position: relative; height: 24px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
          <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/577258fb31f02306e4e3aaf9/popup.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=577258fb31f02306e4e3aaf9#locale=en-US&amp;noReviews=hide&amp;scrollToList=true&amp;sku=62227&amp;starColor=%236EAE9F&amp;styleHeight=24px&amp;styleWidth=100%25&amp;textColor=%236a747c&amp;theme=light" style="position: absolute; z-index: 99; top: 25px; height: 202px; width: 100%; min-width: 120px; border-style: none; display: none; overflow: hidden;"></iframe>
        </div>
      {% endif %}
    {% endif %}

  </div>
</div>