{%- comment -%}
  footer
{%- endcomment -%}
<div class=" {% if request.page_type == 'index' %}md:mt-0{% else %} mt-16 md:mt-32{% endif %} py-10 text-sm footer-bg footer-top">
  <div class="container">
    <div class="flex">
      <div class="flex {% if section.settings.newsletter != blank %} w-7/12 {% else %} w-full {% endif %} -mx-4">

        {%- for block in section.blocks -%}
          {% if block.type == 'menu' %}

            <div class="w-1/3 px-4">

              {%- if block.settings.title != blank -%}
                <h3>{{ block.settings.title }}</h3>
              {%- endif -%}
              {% if block.settings.menu != blank%}
                <ul>
                  {%- for link in linklists[block.settings.menu].links -%}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
              {%- if block.settings.text != blank -%}
                <div class="mt-4 footer-text">
                  {{ block.settings.text }}
                </div>
              {%- endif -%}

            </div>
          {% endif %}
        {%- endfor -%}

      </div>
      {% if section.settings.newsletter != blank%}
        <div class="w-5/12 pl-6">
          {%- if section.settings.newsletter-title != blank -%}
            <h3>{{ section.settings.newsletter-title | escape }}</h3>
          {%- endif -%}

           {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <div class="flex">
               <input type="hidden" name="contact[tags]" value="newsletter">
            <input class="w-full p-2 mr-2 placeholder-gray-100 placeholder-opacity-50 rounded"  
              
                type="email"
                name="contact[email]"
                   value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="example@example.com"
                    required
                  >
            <button type="submit" class="font-bold min-w-max btn-color">Sign Up</button>
            </div>
             {%- if form.errors -%}
                <div class="block">
                    <small class="flex items-center h-4 mt-2 text-red-600 newsletter-form__message form__message" id="ContactFooter-error">
                      {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                    </small>
                </div>
                {%- endif -%}
            {%- if form.posted_successfully? -%}
                <h3 class="flex items-center h-4 mt-2 leading-normal text-green-100 form__message newsletter-form__message newsletter-form__message--success" id="ContactFooter-success" tabindex="-1" autofocus>
                 Thanks for subscribing
                </h3>
              {%- endif -%}
            {%- endform -%}
          </form>

          {% render 'social' , social: section.settings.social %}

          <div class="flex items-center justify-center mt-6 seal-logos">
            {%- for block in section.blocks -%}
              {% if block.type == 'newsletter-brand' %}
                {% render 'brand' block: block %}
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="py-4 footer-brands">
  <div class="container">
    <div class="flex items-center justify-center">
      {%- for block in section.blocks -%}
        {% if block.type == 'brand' %}
          {% render 'brand' block: block %}
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- if section.settings.footer_bottom_title != blank or section.settings.copyright != blank -%}
  <p class="p-2 text-xs text-center footer-bg">
    <span>{{ section.settings.copyright }}</span>
    {% if section.settings.footer_bottom_title != blank %}
      <span class="px-2">|</span>
      <a href="{{ section.settings.footer_bottom_link | default: '#' }}">{{ section.settings.footer_bottom_title }}</a>
    {% endif %}
  </p>
{%- endif -%}

{% schema %}
  {
    "name": "Footer",
    "class": "section-footer",

    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter",
        "label": "Enable Newsletter?",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter-title",
        "label": "Newsletter Heading",
        "default": "Sign up for emails"
      },
      {
        "type": "checkbox",
        "id": "social",
        "label": "Enable Social?",
        "default": true
      }, {
        "type": "text",
        "id": "announcement",
        "default": "It's never too early to start crossing gifts off your list!",
        "label": "Announcement Text"
      }, {
        "type": "link_list",
        "id": "top-menu",
        "label": "Topbar Menu"
      }, {
        "type": "header",
        "content": "Footer Bottom Settings"
      }, {
        "type": "liquid",
        "id": "copyright",
        "label": "Copyright Text",
        "default": "&copy;           {{ 'now' | date: '%Y' }}by Baudville, Inc. All Rights Reserved"
      }, {
        "type": "text",
        "id": "footer_bottom_title",
        "label": "Footer Bottom Label",
        "default": "Terms of Use & Privacy Policy"
      }, {
        "type": "url",
        "id": "footer_bottom_link",
        "label": "Footer Bottom LINK"
      }
    ],
    "blocks": [
      {
        "type": "newsletter-brand",
        "name": "Footer Newsletter Brand",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Footer Brand Image (Max 4)"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image:"
          },
          {
            "type": "url",
            "id": "image_link1",
            "label": "LINK:"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image:"
          }, {
            "type": "url",
            "id": "image_link2",
            "label": "LINK:"
          }, {
            "type": "image_picker",
            "id": "image3",
            "label": "Image:"
          }, {
            "type": "url",
            "id": "image_link3",
            "label": "LINK:"
          }, {
            "type": "image_picker",
            "id": "image4",
            "label": "Image:"
          }, {
            "type": "url",
            "id": "image_link4",
            "label": "LINK:"
          }
        ]
      }, {
        "type": "menu",
        "name": "Menu",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Links"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional information"
          }
        ]
      }, {
        "type": "brand",
        "name": "Footer Bottom Brand",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Footer Brand Image (Max 4)"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image:"
          },
          {
            "type": "url",
            "id": "image_link1",
            "label": "LINK:"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image:"
          }, {
            "type": "url",
            "id": "image_link2",
            "label": "LINK:"
          }, {
            "type": "image_picker",
            "id": "image3",
            "label": "Image:"
          }, {
            "type": "url",
            "id": "image_link3",
            "label": "LINK:"
          }, {
            "type": "image_picker",
            "id": "image4",
            "label": "Image:"
          }, {
            "type": "url",
            "id": "image_link4",
            "label": "LINK:"
          }
        ]
      }
    ]
  }
{% endschema %}