<div class="text-sm text-white header-top-bg header-top">
    <div class="container">
        <div class="flex items-center -mx-4">
            <div class="w-3/12 px-4">
                <a href="" class="flex text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>

                    1-800-728-0888
                </a>
            </div>
            <div class="w-6/12 px-4 py-2 text-center">
                <p>It's never too early to start crossing gifts off your list!</p>
                <a class="underline uppercase" href="https://www.baudville.com/categories/holiday-gifts-shop-all-holiday">SHOP HOLIDAY</a>
            </div>

            <div class="w-3/12 px-4 text-right">
                <ul class="flex justify-end header-top-menu">
                    {% for link in linklists.main-menu.links %}
                        <li>{{ link.title | link_to: link.url }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="py-4 border-b-2">
    <div class="container">
        <div class="flex items-center -mx-4">
            <div class="w-3/12 px-4">
                <a href="{{ shop.url }}"><img width="170" src="{{ 'logo.static.png' | asset_url }}" alt=""></a>
            </div>
            <div class="w-6/12 px-4">
                <div class="pr-2 text-sm bg-gray-200 rounded">
                    <form action="{{ routes.search_url }}" class="flex mb-0">
                        <input class="w-full h-10 p-4 bg-transparent" type="text"
                               placeholder="Search"
                               name="q"
                               value="{{ search.terms | escape }}"
                        >
                        <button class="min-w-max" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="w-3/12 px-4">
                <div class="relative inline-block dropdown">
                    <button class="inline-flex items-center px-4 py-2 font-semibold text-gray-700">
                        <span class="mr-1">My Account</span>
                        <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                    </button>
                    <ul class="absolute hidden pt-1 text-gray-700 bg-white dropdown-menu">
                        {%- if customer -%}
                            <li class="">
                                <a class="block px-4 py-2 whitespace-no-wrap rounded-t hover:text-gray-400" href="/account">My Account</a>
                            </li>
                            <li class="">
                                <a class="block px-4 py-2 whitespace-no-wrap rounded-t hover:text-gray-400" href="/account/logout">Logout</a>
                            </li>
                        {%- else -%}
                             <li class="">
                                <a class="block px-4 py-2 whitespace-no-wrap rounded-t hover:text-gray-400" href="/account">Login</a>
                            </li>
                            <li class="">
                                <a class="block px-4 py-2 whitespace-no-wrap rounded-t hover:text-gray-400" href="/account/register">Logout</a>
                            </li>
                        {%- endif -%}
                   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-3 shadow-lg">
    <div class="container">
        <ul class="flex justify-between text-xl uppercase main-menu">
            <li><a href="">Awards</a></li>
            <li><a href="">Everyday Gifts</a></li>
            <li><a href="">Delightly Curated Kits</a></li>
            <li><a href="">Branded Gifts + Swag</a></li>
            <li><a href="">Clearance</a></li>
        </ul>
    </div>
</div>