<div class="container pt-0">
  {% if collection.image %}
    <div class="pb-10">
      <img src="{{ collection.image | image_url }}" alt="" loading="true">
    </div>
  {% endif %}
  <h1 class="mb-6 text-2xl font-bold text-center md:text-3xl md:mb-16">
    {{ collection.title }}
  </h1>

  {% if collection.description != blank %}
    <div class="block overflow mx-auto mb-6 md:-mt-6 md:mb-12">
      {{ collection.description }}
    </div>
  {% endif %}

  {% paginate collection.products by 16 %}
    {% if collection and collection.products %}
      {% assign amount = collection.all_products_count %}
      {% render 'layout-sort-bar', amount: amount class: 'mb-8' %}
      <div class="product-result-controls flex items-center justify-between text-gray-100 mb-3">
        <h2 class="product-result-controls__category-name text-xl">
          {{ collection.metafields.custom.subtitle | default: collection.title }}
        </h2>
        <div class="hidden sm:inline-block">
          {{ amount }} {{ amount | pluralize: 'Item', 'Items' }}
        </div>
      </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-6">
        {% for product in collection.products %}
          {% render 'product-card', product_card: product %}
        {% endfor %}
      </div>
    {% else %}
      <div>
        {{ 'common.no_products' | t }}
      </div>
    {% endif %}


    {% render 'layout-pagination', paginate: paginate %}

  {% endpaginate %}
</div>

{% javascript %}
  window.addEventListener("DOMContentLoaded", (event) => {
    function getMaxHeight($elms = $(".product-summary__media-image")) {
      var maxHeight = 0;
      $elms.each(function() {

// In some cases you may want to use outerHeight() instead
        var height = $(this).height();
        if (height > maxHeight) {
          maxHeight = height;
        }
      });
      console
        .log(maxHeight)
        document
        .documentElement
        .style
        .setProperty('--product-image', `${maxHeight}px`);
      return maxHeight;
    }

// getMaxHeight();
// setTimeout(getMaxHeight,1000);

  });
{% endjavascript %}