{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="container max-w-screen-xl">
  <div class="-ml-4">
    {% render 'breadcrumbs' %}
  </div>
</div>
<div class="container max-w-screen-xl grid md:grid-cols-2 gap-8">
  <renderless-product-gallery v-slot="{ initialRender, currentImage, switchImage }">
    <div>
      <div>
        <img
          v-if="initialRender"
          src="{{ featured_image | img_url: '750x' }}"
          alt="{{ featured_image.alt | escape }}"
          loading="lazy"
          class="w-full h-auto object-cover object-center"
        >
       
          <div v-else>
          <img
            :src="currentImage.url"
            :key="currentImage.url"
            :alt="currentImage.alt"
            loading="lazy"
            class="w-full h-full object-cover object-center"
          >
        </div>
  
      </div>

      {% if  product.images.size > 1%}
        <div class="flex gap-4 mt-4">
          {% for image in product.images %}
            <link rel="preload" as="image" href="{{ image.src | img_url: '750x' }}">

            <button
              class="w-20 md:w-24 h-20 md:h-24"
              data-url="{{ image.src | img_url: '750x' }}"
              data-alt="{{ image.alt | escape }}"
              @click="switchImage"
            >
              <img
                sizes="
                  (min-width: 768px) 96px,
                  80px
                "
                srcset="
                  {{ image.src | img_url: '80x' }} 80w,
                  {{ image.src | img_url: '96x' }} 96w
                "
                src="{{ image.src | img_url: '96x' }}"
                alt="{{ image.alt | escape }}"
                loading="lazy"
                class="w-full h-full object-cover object-center pointer-events-none"
              >
            </button>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </renderless-product-gallery>

  <div class="md:mt-0">
    {% if product.title %}
      <h1 class="normal-case font-mont text-2xl font-bold mb-4 md:mb-1 ">
       {% render 'badge', time: product.created_at, font: 'text-2xl' %}
        {{ product.title }}
      </h1>
    {% endif %}

    {% if current_variant.sku != blank %}
      <div class=" py-2  product-summary__id text-base" itemprop="productID">
        # {{ current_variant.sku }}
      </div>
    {% endif %}
    <div class="mb-4 pb-2 border-b border-gray-300">
      {% if current_variant.available %}
        <div class="mt-1 mb-0">
        {% render 'price' cv: current_variant %}
        </div>
      {% else %}
        <div class="mb-6">
          {{ 'common.sold_out' | t }}
        </div>
      {% endif %}
    </div>

    {% form 'product', product %}
      <render-available-options :id="{{ product.id }}"></render-available-options>
      {% render 'quantity' %}
      <div class="flex items-end gap-4 mb-6">
        {% if current_variant.available %}
         <div class="flex mt-4 items-center">
          <label for="input-quantity" class="qty mr-1 text-gray-500">Qty</label>
           <input
            type="number"
            name="quantity"
            value="1"
            id="input-quantity"
            min="1"
            pattern="[0-9]*"
            class="w-20 text-xl px-2 h-8 text-center font-bn border border-gray-400 rounded ml-1"
          >
         </div>
        {% endif %}

        {% if product.has_only_default_variant %}
          <input
            name="id"
            type="hidden"
            :value="{{ current_variant.id }}"
            readonly
          >
        {% else %}
          <div class="flex-1">
            <renderless-product-variant-selector
              v-slot="{ selectedVariant, selectOption }"
              :current-variant="{{ current_variant | json | replace: '"', "'" }}"
              :product-options="{{ product.options_with_values | json | replace: '"', "'" }}"
              :product-variants="{{ product.variants | json | replace: '"', "'" }}"
            >
              <div>
                <input
                  name="id"
                  type="hidden"
                  :value="selectedVariant.id"
                  readonly
                >

                <div class="flex gap-x-3">
                  {% for option in product.options_with_values %}
                    <div class="flex-1">
                      <label for="product-select-option-{{ forloop.index }}">
                        {{ option.name | escape }}
                      </label>

                      <select
                        id="product-select-{{ forloop.index }}"
                        class="w-full h-12 border p-2"
                        @change="selectOption({
                          name: '{{ option.name }}'
                        }, $event)"
                      >
                        {% for value in option.values %}
                          <option
                            value="{{ value }}"
                            {% if option.selected_value == value %}selected{% endif %}
                          >
                            {{ value | escape }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </renderless-product-variant-selector>
          </div>
        {% endif %}
      </div>

      {% if current_variant.available %}
        <div class="grid grid-cols-2 gap-4">
          {%- comment -%} <div class="button-shopify-buy-it-now">
            {{ form | payment_button }}
          </div> {%- endcomment -%}

          <div class="w-full">
            <button name="add" class="button button--full bg-red-50 text-white w-full font-bn border-white h-12">
              {{ 'action.add_to_cart' | t }}
            </button>
          </div>
        </div>
        <div class="mt-4 stock-alert">
          <p>In Stock and ready to ship!</p>
        </div>
      {% endif %}
    {% endform %}
    {% render 'share' product: product%}
  </div>
</div>
<div class="product-detail-container__description-container py-12 my-10 bg-blue-100" id="description">
  <div class="container max-w-screen-xl grid md:grid-cols-2 gap-0">
    <div class="border-r-4 border-white pr-20 mb-4">
      <h2 class="mb-2 font-bold text-2xl">Product Description</h2>
      <div class="product-detail-container__body" itemprop="description">
        {{ product.description }}
      </div>
    </div>
    <div class="pl-20 -ml-1 border-l-4 border-white">
      <h2 class="mb-2 font-bold text-2xl">Details &amp; Specifications</h2>
      <div class="product-detail-container__body">
        <ul>
          <li>Add a touch of elegance to your gift giving!</li>
          <li>Personalization included in the price!</li>
          <li>Fits perfectly on any desktop</li>
          <li>Comes gift boxed</li>
          <li>Material: Marble</li>
          <li>Package Description: Gift Box</li>
          <li>Weight: 10.8 OZ</li>
          <li>Package Size: Each</li>
          <li>Dimensions: 4" x 2.75"</li>
        </ul>
      </div>
    </div>
  </div>
</div>


