<div class="py-{{ section.settings.py }}">
  <div class="container">
    <div class="flex mb-12 -mx-3">
      {%- for block in section.blocks -%}
        {% assign image = block.settings.image %}
        <div class="{{ section.settings.row }} px-3">
           {% if block.settings.button-url != blank %}
              <a href="{{ block.settings.button-url }}" class="absolute w-full h-full top-0 left-0"></a>
           {% endif %}
          {% if image %}
            <img
              sizes="
                (min-width: 768px) 1000px,
                (min-width: 640px) 500px,
                600px
              "
              srcset="
                {{ image | img_url: '400x' }} 400w,
                {{ image | img_url: '500x' }} 500w,
                {{ image | img_url: '600x' }} 600w,
                {{ image | img_url: '700x' }} 700w,
                {{ image | img_url: '850x' }} 850w,
                {{ image | img_url: '1000x' }} 1000w
              "
              src="{{ image | img_url: '1000x' }}"
              alt="{{ image.alt }}"
              loading="lazy"
              class="w-full h-full object-cover object-center"
            >
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full' }}
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.hero.name",
  "class": "shopify-multiple-image",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id":"row",
      "label": "Image Per Row",
      "default": "w-1/2",
      "options":[
        {
          "value": "w-1/2",
          "label": "2"
        },
         {
          "value": "w-4/12",
          "label": "3"
        },
         {
          "value": "w-3/12",
          "label": "4"
        }
      ]
    },
    {
        "type": "header",
        "content": "Adjust padding"
    }, 
    {
      "type": "range",
      "label": "Padding Top/Botom",
      "id": "py",
      "min": 0,
      "max": 96,
      "step": 1,
      "default": 10
    }

  ],
  "blocks":[
    {
    "type": "image",
    "name": "Image",
    "settings":[
       {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Image Link"
      }
    ]
  }
  ],
  "presets": [
    {
      "name": "t:sections.hero.name",
      "category": "Image",
         "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}